<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.teamsayy.drmednotifier">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name="com.teamsayy.drmednotifier.application.App"
        android:allowBackup="true"
        android:alwaysRetainTaskState="true"
        android:exported="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.teamsayy.drmednotifier.Edit_Medication"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.teamsayy.drmednotifier.New_User_Profile"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.teamsayy.drmednotifier.Dose_Page"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.teamsayy.drmednotifier.Medicine_List" />
        <activity
            android:name="com.teamsayy.drmednotifier.Nav_page"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.teamsayy.drmednotifier.Second_page_get_personaldata"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.teamsayy.drmednotifier.Setting_Page"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.teamsayy.drmednotifier.Popup_Window"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity
            android:name="com.teamsayy.drmednotifier.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:noHistory="true"
            android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.teamsayy.drmednotifier.RingActivity"
            android:screenOrientation="portrait"
            android:noHistory="true"
            android:excludeFromRecents="true" />

        <receiver
            android:name="com.teamsayy.drmednotifier.broadcastreceiver.AlarmBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service android:name="com.teamsayy.drmednotifier.service.AlarmService" />
        <service android:name="com.teamsayy.drmednotifier.service.RescheduleAlarmsService" />
        <service android:name="com.teamsayy.drmednotifier.service.DescheduleAlarmsService" />
        <service android:name="com.teamsayy.drmednotifier.service.RefillReminderService" />
    </application>

</manifest>